

#main {
    width: 950px;
    margin: 10px auto;
}

#cabecera {
    height: 50px;
}

#logo img {
    width: 240px;
    height: 50px;
}

#cabecera div {
    float: left;
}

#lista1 {
    height: 50px;
}

#lista2 {
    margin-left: 145px;

}

#lista1 li {
    display: inline;
    color: #55aa07;
    margin-right: 2em;
}

#lista2 li {
    color: #55aa07;
}

#lista2 ul {
    margin-bottom: 0px;
    margin-top: 8px;
    padding-left: 33px;
}

#contenido {
    background-color: #6fb403;
    height: 330px;
}

h2 {
    color: white;
    text-align: center;
    padding-top: 15px;
    margin-top: 0px;
}

#contenido1 {
    padding-left: 20px;
}

#contenido1 li {
    display: inline-block;
    width: 200px;
}

#headcont {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 12px;
    margin-top: 10px;
}

#bodycont {
    color: white;
    font-size: 0.7em;
    padding-left: 12px;
}

#pie {
    background-color: #595957;
    height: 100px;
}

#listapie li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 25px;
}

#contpie {
    color: white;
    font-weight: bold;
    font-size: 0.6em;
    text-align: center;
}

#iconpie {
    text-align: center;
}

#contpie p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#listapie {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 30px;
}

#boton img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#boton {
    color: white;
    text-align: center;
    font-size: 0.7em;
    background-color: #6fb403;
    width: 250px;
    height: 40px;
    margin-left: 200px;
    position: relative;
    border-radius: 20px;
}
