

#main {
    width: 1024px;
    margin: 10px auto;
}

#cabecera {
    height: 50px;
}

#logo img {
    width: 240px;
    height: 50px;
}

#lista1 {
    height: 50px;
}

#lista2 {
    margin-left: 145px;

}

#lista1 li {
    display: inline;
    color: #55aa07;
    margin-right: 2em;
}

#lista2 li {
    color: #55aa07;
}

#lista2 ul {
    margin-bottom: 0px;
    margin-top: 8px;
    padding-left: 33px;
}

#contenido {
    background-color: #6fb403;
    height: 350px;
    margin-top: 50px;
}

#contenido h2 {
    text-align: center;
    padding-top: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
}

#contenido1 {
    padding-left: 150px;
    margin-bottom: 28px;
}

#contenido1 li {
    display: inline-block;
    width: 250px;
    height: 210px;
    text-align: center;
    padding-right: 50px;
}

#headcont {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 12px;
    margin-top: 10px;
}

#bodycont {
    color: white;
    padding-left: 12px;
}

#pie {
    background-color: #595957;
    height: 130px;
}

#listapie li {
    display: inline-block;
    margin-right: 60px;
    margin-top: 25px;
}

#contpie {
    color: white;
    text-align: center;
}

#iconpie {
    text-align: center;
}

#iconpie img {
  width: 50px;
  height: 50px;
}

#contpie p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#listapie {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 60px;
}

#boton img {
    width: 230px;
    height: 30px;
    margin-top: 5px;
}

#boton {
    color: white;
    text-align: center;
    font-size: 0.7em;
    background-color: white;
    width: 250px;
    height: 40px;
    margin-left: 387px;
    position: relative;
    border-radius: 20px;
}

.navbar-login
{
    width: 250px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}
